/* side bar settings */
aside {
    /*position: i;*/
    display: flex;
    flex-direction: column;
    float: left;
    width: 12%;
    height: 900px;
    background-color: #FFFFFF;
    text-align: left;
}
#option-aside>a>i, #contact-aside>a>i {
    color: #F13312;
}
#option-aside > a, #contact-aside > a {
    display: inline-flex;
}
#location-icon {
    vertical-align: 14px;
}
.text-aside {
    width: 100px;
    margin-left: 15%;
    color: #F13312;
}
#upper-aside {
    display: flex;
    background-color: hsla(239, 30%, 31%, 0.40);
    text-align: center;
    flex-direction: column;
}
#upper-aside>img {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
#upper-aside > div{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-top: 5%;
}
#upper-aside i {
    margin-right: 10%;
    color: #373867;
}
#upper-aside p {
    font-weight: 500;
    font-size: 20px;
    color: #373867;
}
#option-aside {
    margin-top: 40%;
    margin-left: 20%;
    font-size: 15px;
}
#contact-aside {
    margin-left: 15%;
    padding-top: 140%;
    font-size: 10px;
    color: #F13312;
}
#contact-aside>p {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}
.contact-option {
    margin-bottom: 20px;
}
.menu-option {
    margin-bottom: 50px;
}
.line-orange {
    margin-bottom: 20px;
    height: 2px;
    width: 85px;
    background: #F13312;
}
.text-aside:hover, i:hover{
    color: #373867;
}