aside,
 header,
 main, footer {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   /* height: 900px; */
 }
 h2 {
   text-align: center;
 }
 a {
   text-decoration: none;
 }
 li > a{
  color: #373867;
 }
 i {
   color: #FFFFFF;
   display: flex;
   align-self: center;
 }