 body {
  width: 1440px;
 }
 aside,
 header,
 main, footer {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
 }
 h2 {
   text-align: center;
 }
 a {
   text-decoration: none;
 }
 li > a{
  color: #373867;
 }
 i {
   color: #F13312;
 }