/*General settings main*/
/*main,
  footer {
    padding-left: 180px;
  }*/
.title {
    margin-bottom: 5px;
    font-size: 40px;
    color: black;
    font-weight: bold;
  }
  .title-bar {
    height: 10px;
    margin-right: 100px;
    margin-left: 240px;
    margin-bottom: 80px;
    background: #d9d9d9;
  }