.title {
    margin-bottom: 2%;
    font-size: 40px;
    color: black;
    font-weight: bold;
}
.title-bar {
    height: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 6%;
    background: #d9d9d9;
}