#more-sections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 247px;
    margin-top: 5%;
    background-image: url(../assets/more-sections.png);
    background-size: cover;
    text-align: center;
}
.ol-more-sections > h5{
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.ol-more-sections{
    display: flex;
    flex-direction: column;
    color: #373867;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    align-items: flex-start;
}
#support-ol{
   margin-right: 0px;
}
#more-sections div h5:hover{
    color: #F13312;
}