 /*who we are settings*/
  #who-we-are>h2 {
    margin-bottom: 15px;
  }
  #who-we-are {
    margin-top: 250px;
    margin-bottom: 300px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #373867;
  }
  #who-we-are>p {
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 240px;
  }
  #text-green {
    color: #AACE9B;
    font-size: 18px;
    font-weight: 400;
  }
  /*end who we are settings*/