/*why choose us PRODUCTIVITY BOOSTER settings*/
  #why-choose-us>div>h2 {
    margin-bottom: 5px;
  }
  .subtitle-bar {
    height: 4px;
    width: 825px;
    margin-bottom: 40px;
    background: #286276;
  }
  #subtitle-bar-grey {
    height: 4px;
    width: 825px;
    margin-bottom: 40px;
    background: #d9d9d9;
  }
  .text-why-left {
    display: inline-block;
    width: 720px;
    margin-top: 120px;
    margin-left: 180px;
    margin-right: 100px;
    margin-bottom: 250px;
    vertical-align: top;
    font-size: 30px;
  }
  .img-why-right {
    display: inline;
    margin-top: 80px;
  }
  /*////////////*/
  .subtitle-bar-right {
    height: 4px;
    width: 825px;
    margin-bottom: 40px;
    margin-left: -15px;
    background: #FFFFFF;
  }
  .text-why-right {
    display: inline-block;
    width: 850px;
    margin-top: 120px;
    margin-right: 50px;
    margin-bottom: 300px;
    vertical-align: top;
    font-size: 30px;
  }
  .p-why-right {
    margin-left: 150px;
  }
  .img-why-left {
    display: inline;
    margin-top: 80px;
    margin-left: 185px;
  }
  #management-section {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  #traceability-section>div>h3,
  #decision-making-section>div>h3 {
    margin-left: 150px;
  }
  #traceability-section,
  #decision-making-section {
    padding-top: 150px;
    background-color: #d9d9d9;
  }

  #why-choose-us h3:hover{
    transition: 0.3s;
    cursor: pointer;
    color: #F13312;
  }

  
  /*end why choose us settings*/
 