.subtitle-bar {
    height: 4px;
    width: 112%;
    margin-bottom: 7%;
}
#subtitle-bar-blue{
    background: #286276;
}
#subtitle-bar-grey {
    background: #d9d9d9;
}
.subtitle-bar-right {
    margin-left: -5%;
    background: #FFFFFF;
}
/*/////////////////////////*/
#decision-making-section,
#traceability-section,
#management-section,
#productivity-section{
    display: flex;
}
.text-why-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 5%;
    margin-left: 10%;
    vertical-align: top;
    font-size: 30px;
}
.img-why-right-cont{
    display: flex;
    height: fit-content;
    width: 40%;
    justify-content: space-around;
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 3%;
}
.img-why-right {
    display: block;
    width: 100%;
    margin-top: 4%;
}
/*////////////*/
.img-why-left-cont{
    display: flex;
    height: fit-content;
    width: 40%;
    justify-content: space-around;
    margin-top: 4%;
    margin-left: 10%;
}
.img-why-left {
    display: block;
    width: 100%;
}
.text-why-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 5%;
    vertical-align: top;
    font-size: 30px;
    margin-right: 10%;
}
.text-why-right > .title{
    margin-left: 15%;
}
.p-why-right {
    margin-left: 15%;
}

#traceability-section,
#decision-making-section {
    padding-top: 14%;
    padding-bottom: 14%;
    background-color: #d9d9d9;
}
#management-section, #productivity-section {
    padding-bottom: 14%;
}
#management-section{
    padding-top: 14%;
}

#why-choose-us h3:hover {
    transition: 0.3s;
    cursor: pointer;
    color: #F13312;
}