/* Contact settings*/
form {
    margin-left: 270px;
    margin-bottom: 50px;
  }
 
  input {
    width: 450px;
    height: 37px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
 
  select {
    width: 446px;
    font-size: 15px;
    height: 42px;
    border-radius: 5px;
    margin-left: 133px;
  }
 
  textarea {
    width: 1029px;
    height: 180px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
  }
 
  button {
    color: #373867;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    border-color: transparent;
    border-radius: 5px;
  }
 
  button[type=submit] {
    width: 177px;
    height: 48px;
    margin-right: 735px;
    background-color: #AACE9B;
  }
 
  #cross-icon,
  #email-icon {
    margin-right: 10px;
    color: #373867;
  }
 
  button[type=reset] {
    width: 117px;
    height: 48px;
    background-color: #F13312;
  }
 
  label[for=message] {
    margin-bottom: 30px;
    margin-top: 35px;
  }
 
  .label-contact {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #373867;
    display: block;
  }
 
  /* end Contact settings*/