/* More sections settings*/
  #more-sections {
    height: 250px;
    background-image: url(../assets/more-sections.png);
    background-size: cover;
    text-align: center;
  }
  .ol-more-sections > h5{
    margin-bottom: 20px;
    margin-left: -15px;
    font-size: 20px;
    font-weight: 500;
  }
  .ol-more-sections{
    display: inline-block;
    margin-right: 150px;
    width: fit-content;
    margin-top: 65px;
    color: #373867;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
  }
  #support-ol{
   margin-right: 0px;
  }
  #more-sections div h5:hover{
    color: #F13312;
  }
  /* end More sections settings */