 aside,
 header,
 main,
 footer {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
   'Helvetica Neue', sans-serif;
   height: 900px;
 }
 h2{
  text-align: center;
 }
 a {
  text-decoration: none;
 }
 i {
  
  color:#F13312;
 }

 /* side bar settings */
 aside {
   width: 180px;
   height: 900px;
   text-align: left;
   float: left;
   position: fixed;
   background-color: #FFFFFF;
 }
 #optionsidebar > div > a > i {
  display: inline;

 }
 #contactsidebar > div > a > i {
  display: inline;
 }
 #location-icon {
  vertical-align:  14px;
 }
 
 .side-text{
  display: inline-block;
  margin-left: 15px;
  color: #F13312;
  width: 100px;
 }

 #upperaside {
   padding-top: 15px;
   text-align: center;
   background-color: hsla(239, 30%, 31%, 0.40);
 }

 #upperaside>img {
   margin-right: 20px;
 }

 #upperaside>h2 {
   padding-left: 10px;
   padding-right: 2px;
   margin-bottom: 10px;
   font-weight: 500;
   display: inline-block;
   font-size: 20px;
   color: #373867;
 }

 #optionsidebar {
   font-size: 15px;
   margin-top: 80px;
   margin-left: 20px;
 }


 #contactsidebar {
   padding-top: 225px;
   font-size: 10px;
   margin-left: 10px;
   color: #F13312;
 }

 #contactsidebar>h3 {
   font-weight: bold;
   font-size: 14px;
   text-align: left;
 }
.contact-option{
  margin-bottom: 20px;
}
.menu-option{
  margin-bottom: 50px;
}

 .lineorange {
   height: 2px;
   width: 85px;
   background: #F13312;
   margin-bottom: 20px;
 }
 
 main,
 footer {
   margin-left: 180px;
 }

 /* end side bar settings*/
 /* header settings*/
 header {
   background-image: url(../assets/office.png);
   background-size: cover;
   
 }

 #textheader {
  color: #FFFFFF;
   position: absolute;
   width: 481px;
   height: 900px;
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(2px);
   text-align: left;
   margin-left: 260px;
 }
#textheader > h1,#textheader > div, #textheader > h2, #textheader >p{
  margin-left: 25px;
}

 #textheader > h1{
  font-size: 40px;
  font-weight: 500;
  margin-top: 170px;
 }
 #textheader > h2{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 85px;
 }
 #textheader > p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 40px;
  width: 350px;
  color: rgba(255, 255, 255, 0.75);
 }


 .linegreen{
  height: 2px;
  background: #AACE9B;
  margin-bottom: 20px;
  margin-right: 7px;
 }

 /* end header settings*/
 /*General settings main*/
 .title{
  font-size: 40px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
 }
 .titlebar{
  height: 10px;
  margin-right: 100px;
  margin-left: 240px;
  background: #d9d9d9;
  margin-bottom: 80px;
 }

 /*who we are settings*/
 #whoweare > h2{
  margin-bottom: 15px;
 }
#whoweare{
  margin-top: 175px;
  margin-bottom: 400px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #373867;
}
#whoweare > p{
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 240px;
}

#textgreen{
  color: #AACE9B;
  font-size: 18px;
  font-weight: 400;
}
 /*end who we are settings*/
 /*why choose us PRODUCTIVITY BOOSTER settings*/
#whychooseus > h2{
  margin-bottom: 5px;
}
.subtitle-bar-left{
  height: 4px;
  width: 825px;
  /*margin-left: 160px;*/
  background: #286276;
  margin-bottom: 40px;
  
}

.text-why-left{
  display: inline-block;
  width: 720px;
  margin-top: 120px;
  margin-left: 180px;
  margin-right: 100px;
  vertical-align: top;
  font-size: 30px;
  margin-bottom: 250px;
}
.img-why-right{
  display: inline;
  margin-top: 80px;
}

 /*end why choose us settings*/
